[Unit]
Description=Nesquate's Minecraft Server (Creative)

Wants=network.target
After=network.target

[Service]
Type=forking
User=mc-nesquate
Group=mc-nesquate
Nice=5
TimeoutStopSec=90

ProtectHome=read-only
ProtectSystem=full
PrivateDevices=no
NoNewPrivileges=yes
PrivateTmp=no
InaccessiblePaths=/root /sys /srv -/opt /media -/lost+found
ReadWritePaths=/home/mc-nesquate/server-creative
WorkingDirectory=/home/mc-nesquate/server-creative
PIDFile=/home/mc-nesquate/server-creative/creative-server.pid
ExecStart=/home/mc-nesquate/server-creative/service.sh start
ExecReload=/home/mc-nesquate/server-creative/service.sh reload
ExecStop=/home/mc-nesquate/server-creative/service.sh stop

[Install]
WantedBy=multi-user.target
